.has-error .el-input__wrapper {
  border: 1px solid var(--el-color-danger) !important;
}
body {
  height: 100vh;
  min-height: 100%;
}
.main-container {
  padding-top: 0!important;
  height: 100vh;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: var(--el-text-color-primary) !important;
}
.forgot .el-form-item__content {
  justify-content: center!important;
}
